<script type="text/javascript" charset="utf-8">
  $(function() {
    if (document.referrer) {
      var refurl = document.referrer;
      var re = new RegExp("^" + window.location.protocol + "//" + window.location.host + "/");
      if (refurl.match(re)) {
        saveIndex('');
        return;
      }
    }

    var list = document.cookie.split(/\s*;\s*/);
    for (var i = 0; i < list.length; i++) {
      var key = list[i].split('=', 1)[0];
      if (key == 'defaultIndex') {
        var name = list[i].substr(key.length + 1);
        window.location = '/' + name;
        saveIndex('');
        return;
      }
    }
  });
</script>

<div id="content">
  <nav>
  <ul id="navigation">
    <li class="selected">Gems</li>
    <li class="search"><form action="/find/gems" method="GET"><input type="text" id="docSearch" name="q" value="<%= h @search %>" placeholder="Search Gems"/></form></li>
  </ul>
  </nav>

  <%= erb :alpha_index %>

  <% if @featured && @featured.size > 0 %>
  <h2>All Libraries</h2>
  <ul class="libraries">
    <% @featured.each do |name, library_versions| %>
    <li class="r<%= @row = @row == 1 ? 2 : 1 %>">
      <% library_versions = library_versions.dup %>
      <% first_lib = library_versions.pop %>
      <a href="/<%= first_lib.source == :remote_gem ? 'gems' : 'docs' %>/<%= h first_lib %>"><%= h name %></a>
      <% if first_lib && first_lib.version %>
        <small>(<%= h first_lib.version %><% if library_versions.size > 0 %>,
          <%= library_versions.reverse[0..3].map {|lib| "<a href=\"/#{lib.source == :remote_gem ? 'gems' : 'docs'}/#{lib}\">#{lib.version}</a>" }.join(', ') %><% end %>)</small>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
